:root {
  // BASE
  --color-white: #fff;
  --color-black: #363636;

  // BRAND
  --color-grey-lighter: #f4f4f9;
  --color-grey-light: #e7e7f1;
  --color-grey-dark: #9e9eac;

  // NAMED
  --color-bg: var(--color-white);
  --color-fg: var(--color-black);
  --color-copy: var(--color-grey-dark);
}
