@use "spacing";
@use "colors";
@use "transitions";

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--color-bg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-fg);
}

h1 {
  font-family: var(--font-roboto);
  font-size: clamp(3rem, 9vw, 9rem);
  text-transform: uppercase;
  font-stretch: extra-condensed;
  line-height: 0.8;
}

p {
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-copy);
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

// Accessibility Utilities
button,
input {
  outline: 2px solid transparent;
  outline-offset: 4px;
  transition: outline-color 150ms ease-in-out;

  &:focus-visible {
    outline-color: white;
  }
}

.screen-reader-only {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
