html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

// Accessibility Utilities
button,
input {
  outline: 2px solid transparent;
  outline-offset: 4px;
  transition: outline-color 150ms ease-in-out;

  &:focus-visible {
    outline-color: white;
  }
}

.screen-reader-only {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
