:root {
  // GENERAL
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 48px;
  --space-9: 64px;
  --space-10: 80px;
  --space-11: 96px;
  --space-12: 128px;
  --space-13: 160px;
  --space-14: 192px;
  --space-15: 256px;

  // BREAKPOINTS
  --bp-sm: 26.25rem;
  --bp-md: 48rem;
  --bp-lg: 64rem;
  --bp-xl: 90rem;
  --bp-xxl: 120rem;

  // COLUMN WIDTHS
  --col-xs: 32rem;
  --col-sm: 40rem;
  --col-md: 48rem;
  --col-lg: 64rem;
  --col-xl: 80rem;
}
