:root {
  --bounce: linear(0, 0.708 15.2%, 1.065 32.8%, 1.131 50%, 1);
  --bounce-reverse: cubic-bezier(0.765, -0.586, 0.5, 1);
  --bounce-anticipate: linear(
    0,
    -0.02 9.4%,
    -0.124 26.4%,
    -0.105 34%,
    0.112 43.2%,
    0.817 55.2%,
    1.071 63.4%,
    1.127 72.6%,
    1.019 90.8%,
    1
  );
}
