.HomePageRoot {
  display: flex;
  flex-direction: column;
}

.Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-8);

  width: 100%;
  max-width: var(--col-lg);
  padding: var(--space-10) var(--space-6);
  margin: auto;

  text-align: center;

  p {
    max-width: var(--col-md);
  }
}
