.InteractionPanelRoot {
  position: relative;
  width: 100%;
  max-width: 16rem;
  aspect-ratio: 1;
  padding: var(--space-6);

  background-color: var(--color-white);
  border-radius: var(--space-6);
  box-shadow: 0 var(--space-4) var(--space-9) var(--color-grey-light);

  transition:
    scale 0.2s,
    box-shadow 0.2s;

  .OpenModal {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: var(--space-4);
    min-width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-grey-lighter);

    font-size: 0.8rem;
  }
}

.Column {
  // TODO: move to Modal component
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: var(--space-8);
  padding-top: 5%;
}

.Animation {
  max-width: var(--space-15);
  width: 100%;
  height: auto;
  margin: auto;
}

.Controls {
  // TODO: make component
  width: 100%;
  height: 8rem;
  border-radius: var(--space-2);
  background-color: var(--color-grey-light);
}
